# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 로그파일
*.log

# Git 관련
.git
.gitignore

# Airflow 관련 (로그/DB 파일)
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/tmp/
airflow/unittests.cfg

# 기타 무시할 파일들
*.env
*.sqlite3


.dockerignore
Dockerfile