# Airflow 로그 및 임시 파일
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/tmp/
airflow/unittests.cfg

# 로그 파일 무시
*.log

# Python 컴파일된 파일들 무시
__pycache__/
*.pyc
*.pyo
*.pyd

# 기타 무시할 파일들
*.env
*.sqlite3

# IDE/OS
.DS_Store
Thumbs.db

setup-docker.sh


# airflow 전용 임시 파일
airflow/entrypoint.sh